@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap");

/* default */
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;

  /* animation */
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* hide desktop */
.hide-desktop {
  display: none;
}

/* Menu */
.menu-main {
  position: fixed;
  width: 100vw;
  height: 70px;
  background-color: #590995;
  font-weight: bold;
  color: white;
  z-index: 1;

  /* layout */
  display: grid;
  grid-template-columns: 30px repeat(2, 1fr) 200px;
  grid-auto-flow: column;
}

.menu-main .menu-container {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: large;

  /* layout */
  grid-column: 3/4;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  align-items: center;
}

.menu-main .menu-container a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  position: relative;
}

.menu-main .menu-container a::after {
  content: "";
  position: absolute;
  background-color: #c62a88;
  height: 3px;
  width: 100%;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 500ms ease;
}

.menu-main .menu-container a:hover::after {
  transform: scale(1, 1);
}

/* Content */
.main {
  height: 100vh;
  overflow: hidden;

  /* Layout */
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 110px 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 10px;
}

/* Modal */
.main .modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
  display: none;

  /* grid */
  justify-content: center;
  align-items: center;
}

.main .modal img,
.main .modal img {
  max-height: 600px;
  max-width: 600px;
  height: auto;
  width: 100%;
}
/* end of modal */

.main .box {
  box-shadow: 5px 10px 10px #8888;
}

.main .box-container1 {
  /* layout */
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* Design */
  background-color: white;
  border: 1px solid black;
}
.main .box-container1 .image-container img {
  height: auto;
  width: 100%;
}
.main .box-container1 .name-container p {
  color: black;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 10px 0;
}
.main .box-container1 .price-container p {
  color: black;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 10px 0;
}

/* box2 */
.main .box-container2 {
  /* Layout */
  grid-row: 2/3;
  grid-column: 3/4;

  /* grid */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* Design */
  background-color: white;
  border: 1px solid black;
}
.main .box-container2 .image-container img {
  height: auto;
  width: 100%;
}
.main .box-container2 .name-container p {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 10px 0;
}
.main .box-container2 .price-container p {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 10px 0;
}

/* Footer */
.footer-container {
  height: 193px;
  width: 100vw;
  background-color: #c62a88;
  position: absolute;
  bottom: -300px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer-container .text-container p:nth-child(1) {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: white;
  margin: 20px 0 0 0;
}
.footer-container .text-container p:nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: white;
  margin: 0;
}
.footer-container .contact-container a {
  display: flex;
  justify-content: center;
  align-self: center;

  color: black;
  font-size: 43px;
  margin: 10px 0 0 0;
}
.footer-container .contact-container a i {
  color: white;
  font-size: 43px;
}
.footer-container .contact-container p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 10px 0;
}
.footer-container .small-footer {
  width: 100vw;
  height: 35px;
  background-color: #03c4a1;
}
.footer-container .small-footer p {
  text-align: center;
  margin: 5px;
  color: gray;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .main {
    grid-template-columns: 110px auto auto 110px;
    grid-template-rows: 110px auto auto 110px;
  }
}

@media screen and (max-width: 768px) {
  .menu-main {
    grid-auto-flow: column;
    grid-template-columns: 50px 1fr;
    place-items: center;
  }

  .menu-main .icon-container {
    display: block;
    cursor: pointer;
    font-size: 30px;

    grid-column: 1/2;
  }

  .menu-main .menu-container {
    position: fixed;
    top: 70px;
    width: 100vw;
    height: 130px;
    background-color: #590995;
    transform: scale(1, 1);
    transition: transform 500ms ease-in;
    transform-origin: top;

    grid-column: 1/3;
    grid-row: 2/3;
    grid-auto-flow: row;
    justify-items: center;
  }
  .menu-main .menu-container li {
    height: 100%;
    width: 100%;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-main .menu-container li:hover {
    background-color: var(--menu-hover-color);
  }
  .menu-main .menu-container a::after {
    all: unset;
  }
  .menu-main .menu-container.show {
    transform: scale(1, 0);
  }

  /* main */
  .main {
    grid-template-columns: 50px 1fr 1fr 50px;
  }
  .main .box-container1 .name-container p {
    margin: 10px 0 0 0;
  }
  .main .box-container1 .price-container p {
    margin: 10px 0 20px 0;
  }
  .main .box-container2 .name-container p {
    margin: 10px 0 0 0;
  }
  .main .box-container2 .price-container p {
    margin: 10px 0 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .main {
    grid-template-columns: 20px 1fr 1fr 20px;
  }
}
