@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* Default  */
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  height: auto;

  /* animation */
  animation: fade 1s;
}

body {
  overflow-x: hidden;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* hide desktop */
.hide-desktop {
  display: none;
}

/* Menu */
.menu-main {
  position: fixed;
  width: 100vw;
  height: 70px;
  background-color: #590995;
  font-weight: bold;
  color: white;
  z-index: 1;

  /* layout */
  display: grid;
  grid-template-columns: 30px repeat(2, 1fr) 200px;
  grid-auto-flow: column;
}

.menu-main .menu-container {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: large;

  /* layout */
  grid-column: 3/4;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  align-items: center;
}

.menu-main .menu-container a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  position: relative;
}

.menu-main .menu-container a::after {
  content: "";
  position: absolute;
  background-color: #c62a88;
  height: 3px;
  width: 0;
  transition: 1s;
}

.menu-main .menu-container a:hover::after {
  width: 100%;
}

/* Content */
.main {
  height: 100vh;

  /* Layout */
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 110px 1fr 1fr 110px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

/* box1 */
.main .box-container1 {
  /* layout */
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr repeat(2, 50px);
  place-items: center;
  /* Design */
  background-color: white;
  border: 1px solid black;
}
.main .box-container1 .image-container {
  grid-row: 1/2;
  height: auto;
  width: 100%;
}
.main .box-container1 .image-container .cross {
  height: auto;
  width: 100%;
}
.main .box-container1 .name-container {
  grid-row: 2/3;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.main .box-container1 .price-container {
  grid-row: 3/4;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

/* box2 */
.main .box-container2 {
  /* Layout */
  grid-row: 2/3;
  grid-column: 3/4;

  /* grid */
  display: grid;
  grid-template-rows: 1fr repeat(2, 50px);
  place-items: center;

  /* Design */
  background-color: white;
  border: 1px solid black;
}
.main .box-container2 .image-container {
  grid-row: 1/2;
  height: auto;
  width: 100%;
}
.main .box-container2 .image-container .stBenedict {
  height: auto;
  width: 100%;
}
.main .box-container2 .name-container {
  grid-row: 2/3;

  /* design */
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.main .box-container2 .price-container {
  grid-row: 3/4;

  /* design */
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

/* box3 */
.main .box-container3 {
  /* layout */
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr repeat(2, 50px);
  place-items: center;

  /* Design */
  background-color: white;
  border: 1px solid black;
}
.main .box-container3 .image-container {
  grid-row: 1/2;
  height: auto;
  width: 100%;
}
.main .box-container3 .image-container .jesusNecklace {
  height: auto;
  width: 100%;
}
.main .box-container3 .name-container {
  grid-row: 2/3;

  /* Design */
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.main .box-container3 .price-container {
  grid-row: 3/4;

  /* design */
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

/* box4 */
.main .box-container4 {
  /* layout */
  grid-row: 3/4;
  grid-column: 3/4;
  display: grid;
  grid-template-rows: 1fr repeat(2, 50px);
  place-items: center;

  /* Design */
  background-color: white;
  border: 1px solid black;
}
.main .box-container4 .image-container {
  grid-row: 1/2;
  height: auto;
  width: 100%;
}
.main .box-container4 .image-container .padre-pio {
  height: auto;
  width: 100%;
}
.main .box-container4 .name-container {
  grid-row: 2/3;

  /* design */
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.main .box-container4 .price-container {
  grid-row: 3/4;

  /* design */
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

/* Footer */
.footer-container {
  height: auto;
  width: 100vw;
  background-color: #c62a88;
  position: relative;
  bottom: -400px;

  /* layout */
  display: grid;
  grid-template-rows: 80px 80px 30px;
}

.footer-container .text-container {
  grid-row: 1/2;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.footer-container .text-container .blessed {
  color: white;
  font-size: 18px;
}
.footer-container .text-container .best {
  color: white;
  font-size: 12px;
}

.footer-container .contact-container {
  grid-row: 2/3;
  text-align: center;
  line-height: 1;
  font-weight: bold;
}
.footer-container .contact-container .fa {
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.footer-container .contact-container .number {
  font-size: 18px;
  color: white;
}

.footer-container .small-footer {
  width: 100vw;
  height: auto;
  background-color: #03c4a1;

  /* layout */
  display: grid;
  grid-template-rows: 1px 1fr 1px;
}
.footer-container .small-footer .copyright {
  grid-template-rows: 2/3;
  font-size: 10px;
  text-align: center;
  color: #464343;
}

/* Modal */
.main .modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
  display: none;

  /* grid */
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 50px 1fr 50px;
  place-items: center;
}
.main .modal .modal-content {
  /* layout */
  grid-row: 2/3;
  grid-column: 2/3;

  /* design */
  height: 500px;
  width: 500px;

  /* animation */
  animation: zoom 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.main .modal .modal-content .cross,
.main .modal .modal-content .stBenedict,
.main .modal .modal-content .jesusNecklace,
.main .modal .modal-content .pioNecklace {
  height: 500px;
  width: 500px;
}
.main .modal .close {
  grid-row: 1/2;
  grid-column: 3/4;

  font-size: 50px;
  color: red;
  cursor: pointer;
}

/* responsive for laptop and desktop*/
@media (max-width: 991px) and (min-width: 769px) {
  .main {
    grid-template-columns: 50px repeat(2, 1fr) 50px;
    grid-template-rows: 110px repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }

  .main .box-container1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .main .box-container2 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .main .box-container1 .image-container .padre-pio,
  .main .box-container2 .image-container .padre-pioo {
    height: auto;
    width: 100%;
  }

  /* modal */
  .main .modal {
    grid-template-columns: 50px 1fr 50px 30px;
    grid-template-rows: 50px 50px 1fr 1fr;
    place-items: center;
  }

  .main .modal .modal-content {
    grid-row: 3/4;
    grid-column: 2/3;
    height: auto;
    width: 100%;
  }

  .main .modal .modal-content .padre-pio,
  .main .modal .modal-content .padre-pioo {
    height: auto;
    width: 100%;
  }

  .main .modal .close {
    grid-row: 2/3;
    grid-column: 3/4;
  }
}

/* responsive for tablet devices */
@media (max-width: 768px) and (min-width: 501px) {
  /* menus */
  .menu-main {
    /* layout */
    grid-auto-flow: column;
    grid-template-columns: 50px 1fr;
    place-items: center;
  }

  .menu-main .icon-container {
    display: block;
    cursor: pointer;
    font-size: 30px;

    /* layout */
    grid-column: 1/2;
  }

  .menu-main .menu-container {
    /* designing */
    position: fixed;
    top: 60px;
    width: 100vw;
    height: 130px;
    background-color: #590995;

    /* layout */
    grid-column: 1/3;
    grid-row: 2/3;
    grid-auto-flow: row;
    justify-items: center;
  }

  .menu-main .menu-container.show {
    display: none;
  }

  /* content */
  .main {
    grid-template-columns: 30px 1fr 1fr 30px;
    grid-template-rows: 110px 1fr 1fr 110px;
    column-gap: 10px;
    row-gap: 10px;
  }

  .main .box-container1 {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-items: center;
  }

  .main .box-container2 {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .main .box-container3 {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .main .box-container4 {
    grid-row: 3/4;
    grid-column: 3/4;
  }

  .main .box-container1 .image-container .cross,
  .main .box-container2 .image-container .stBenedict,
  .main .box-container3 .image-container .pioNecklace,
  .main .box-container4 .image-container .jesusNecklace {
    height: auto;
    width: 100%;
  }

  /* modal */
  .main .modal {
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px 50px 1fr 1fr;
    place-items: center;
    height: auto;
    width: 100%;
  }

  .main .modal .modal-content {
    grid-row: 3/4;
    grid-column: 2/3;

    height: auto;
    width: 100%;
  }

  .main .modal .modal-content .cross,
  .main .modal .modal-content .stBenedict,
  .main .modal .modal-content .pioNecklace,
  .main .modal .modal-content .jesusNecklace {
    height: auto;
    width: 100%;
  }

  .main .modal .close {
    grid-row: 2/3;
    grid-column: 3/4;
  }
}

/* responsive for mobile */
@media (max-width: 500px) and (min-width: 133px) {
  html,
  body {
    height: auto;
  }

  .menu-main {
    grid-auto-flow: column;
    grid-template-columns: 50px 1fr;
    place-items: center;
  }

  .menu-main .icon-container {
    display: block;
    cursor: pointer;
    font-size: 30px;

    /* layout */
    grid-column: 1/2;
  }

  .menu-main .menu-container {
    /* designing */
    position: fixed;
    top: 60px;
    width: 100vw;
    height: 130px;
    background-color: #590995;

    /* layout */
    grid-column: 1/3;
    grid-row: 2/3;
    grid-auto-flow: row;
    justify-items: center;
  }

  .menu-main .menu-container.show {
    display: none;
  }

  /* main */
  .main {
    grid-template-columns: 30px 1fr 1fr 30px;
    grid-template-rows: 110px 1fr 1fr 110px;
    column-gap: 10px;
    row-gap: 10px;
    place-items: center;
  }

  .main .box-container1 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .main .box-container2 {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .main .box-container3 {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .main .box-container4 {
    grid-row: 3/4;
    grid-column: 3/4;
  }

  .main .box-container1 .image-container .cross,
  .main .box-container2 .image-container .stBenedict,
  .main .box-container3 .image-container .pioNecklace,
  .main .box-container4 .image-container .jesusNecklace {
    height: auto;
    width: 100%;
  }

  /* modal */
  .main .modal {
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px 50px 1fr 1fr;
    place-items: center;
  }

  .main .modal .modal-content {
    grid-row: 3/4;
    height: auto;
    width: 100%;
  }

  .main .modal .modal-content .cross,
  .main .modal .modal-content .stBenedict,
  .main .modal .modal-content .pioNecklace,
  .main .modal .modal-content .jesusNecklace {
    height: auto;
    width: 100%;
  }

  .main .modal .close {
    grid-row: 2/3;
  }
}
